*{
  box-sizing: border-box;
}

a{
  text-decoration: none;
}

ul{
  margin: 0;
  padding: 0;

  list-style: none;
}

img{
  max-width: 100%;
}

html{
  font-family: 'Open Sans', Arial, sans-serif;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  background-color: #424242;
}

.container{
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-around; */

  max-width: 1920px;
  padding: 75px 150px 0 150px;
}

article:not(:last-child){
  margin-right: 58px;
}

/* Checkbox */

.checkbox{
  display: inline-block;
  padding: 21px 29px 29px 30px;
  max-height: 309px;

  background-color: #FFF;
  border-radius: 10px;
}

.checkbox__title{
  margin: 0;
  margin-bottom: 20px;

  font-size: 18px;
  line-height: 25px;
  font-weight: 600;
  color: #333;
}

.checkbox__item:not(:last-child){
  margin-bottom: 20px;
}

.checkbox__label{
  position: relative;
  padding-left: 24px;

  font-size: 14px;
  line-height: 19px;
  font-weight: 400;
  color: #333;

  cursor: pointer;
}

.checkbox__input{
  display: none;
}

.checkbox__input + span{
  position: absolute;
  top: 3px;
  left: 0;

  display: block;
  width: 15px;
  height: 15px;
  text-align: center;

  border: 1px solid #999;
  border-radius: 3px;

  transition: border .2s ease-in-out;
}

.checkbox__input + span::before{
  content: '';

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background-image: url(/img/svg/checkbox.svg);
  background-position: center center;
  background-repeat: no-repeat;

  opacity: 0;
  transition: opacity .2s ease-in-out;
}

.checkbox__input:checked + span{
  border: 1px solid #CCB26E;
}

.checkbox__input:checked + span::before{
  opacity: 1;
}

/* Select */

.select{
  max-height: 293px;
}

.choices__inner{
  min-width: 176px;
  min-height: auto;
  padding: 9px 0 11px 15px;

  font-size: 14px;

  border: none;
  border-radius: 10px;
  background-color: #FFF;
}

.choices[data-type*=select-one] .choices__inner{
  padding-bottom: 11px;
}

.choices__placeholder{
  font-size: 14px;
  line-height: 19px;
  font-weight: 400;
  color: #333;
  opacity: 1;
}

.choices__list--single{
  padding: 0;
  width: auto;
}

.choices__list--dropdown .choices__placeholder {
  display: none;
}

.choices__list--dropdown .choices__item--selectable::after, .choices__list[aria-expanded] .choices__item--selectable::after{
  display: none;
}

.choices__list--dropdown .choices__item, .choices__list[aria-expanded] .choices__item{
  padding: 10px 0 10px 15px;

  font-size: 14px;
  line-height: 19px;
  font-weight: 400;
  color: #333;
}

.choices[data-type*=select-one]::after{
  top: 12px;
  right: 14.69px;

  width: 8px;
  height: 8px;
  margin-top: 0;

  border: none;
  border-bottom: 1px solid #666;
  border-right: 1px solid #666;
  transform: rotate(45deg);

  z-index: 11;
}

.is-open{
  background-color: transparent;
  border-radius: 10px;
}

.is-open .choices__inner,
.is-focused .choices__inner{
  position: relative;

  padding: 8px 0 10px 14px;

  border: 1px solid #CCB26E;
  border-radius: 10px;

  z-index: 10;
}

.choices__list--dropdown, .choices__list[aria-expanded]{
  margin-top: -10px;
  padding-top: 20px;
  padding-bottom: 9px;

  border: none;
  border-left: 1px solid #CCB26E;
  border-right: 1px solid #CCB26E;
  border-bottom: 1px solid #CCB26E;
  border-radius: 0 0 10px 10px;
}

.is-open .choices__list--dropdown, .is-open .choices__list[aria-expanded]{
  border-color: #CCB26E;
}

.choices[data-type*=select-one].is-open::after{
  top: 17px;

  margin: 0;

  border-color: #CCB26E;
  transform: rotate(-135deg);

  z-index: 11;
}

/* Map */

.map{
  width: 460px;
  height: 460px;

  background-color: #f2f2f2;
  border: 1px solid #CCB26E;
}

[class*="ground-pane"]{
  filter: grayscale(1);
}

/* CustomScroll */

.customScroll{
  width: 399px;
  height: 310px;
  padding: 20px 30px 20px 29px;

  background-color: #FFF;
}

.customScroll__content{
  margin: 0;

  font-size: 14px;
  line-height: 1.7;
  font-weight: 400;
  color: #333;
}

.simplebar-track.simplebar-vertical{
  width: 18px;
}

.simplebar-scrollbar.simplebar-visible:before{
  opacity: 1;
}

.simplebar-scrollbar::before {
  top: 7px;
  bottom: 7px;
  right: 6px;
  left: 6px;

  background-color: #CCB26E;
  border-radius: 5px;
}

/* Form */

.form__wrapper{
  margin-top: 75px;
}

.form{
  display: flex;
  flex-direction: column;
  padding: 38px 30px 39px 30px;

  background-color: #000;
  border-radius: 10px;
}

.form__input{
  margin-bottom: 31px;
  padding: 20.5px 20px;
  width: 340px;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1;
  color: #000;

  border: none;
  border-radius: 10px;
}

.form__input:focus{
  outline: 1px solid #FF5C00;
  outline-offset: -1px;
}

.form__input::placeholder{
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 12px;
  color: #999;
}

.form__btn{
  padding: 18.5px 53px;
  max-width: 192px;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 23px;
  color: #FFF;

  background-color: #FF5C00;
  border: none;
  border-radius: 10px;

  cursor: pointer;
  transition: background-color .2s linear, transform .05s linear;
}

.form__btn:hover{
  background-color: #FF7A00;
}

.form__btn:focus{
  outline: none;

  background-color: #FF7A00;
}

.form__btn:active{
  background-color: #AA3D00;

  transform: scale(1.01);
}

.form__input__wrapper{
  position: relative;
}

.just-validate-error-label{
  position: absolute;
  top: -18px;
  left: 20px;

  font-size: 12px;
  line-height: 14px;
  font-weight: 400;
  font-family: 'Roboto', Arial, sans-serif;
  color: #FF5C00;
}
